<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.apps.restclienttemplate"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TwitterApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:targetSdkVersion="31"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ComposeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TimelineActivity"
            android:exported="false" /> <!-- As of Android 12, android:exported must be set; use true to make the activity available to other apps, and false otherwise. For launcher activities, this should be set to true. -->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/intent_host"
                    android:scheme="@string/intent_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>